body{
    background:#f6f7fb;
    color:#7c7c7c;
    margin:0;
    padding:30px;
    font-size: 30px;
    font-family:"Itim", sans-serif;
}

.description{
    margin-top: -40px;
    flex: 1;
    min-width: 0;
}

nav{
    text-align:center;
    padding: 20px;
}

.idk{
    justify-content:space-between;
    max-width:1000px;
    margin:80px auto;
    gap:30px;
    display:flex;
    align-items:center;
}
